In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\swati\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio~=0.17 in c:\users\swati\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\swati\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\swati\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\swati\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\swati\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\swati\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\swati\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\swati\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\swati\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\swati\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\swati\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\swati\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\swati\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\swati\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\swati\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

# Q.1.

In [129]:
driver = webdriver.Chrome(r"C:\Users\Swati\OneDrive\Desktop\DataScience\chromedriver.exe")

In [130]:
driver.get("https://www.naukri.com/")

In [131]:
# Entering designation and location Banglore as required in question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [132]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bengalore')

In [133]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [134]:
job_title = []
job_location = []
company_name = []
exp_required = []

In [135]:
# Scraping job title from the given page
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags [0:10]:
    title = i.text
    job_title.append(title)
    
# Scraping Job location 
location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags [0:10]:
    location = i.text
    job_location.append(location)
    
# Scraping Company name
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags [0:10]:
    company = i.text
    company_name.append(company)
    
# Scraping Experience
exp_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags [0:10]:
    exp = i.text
    exp_required.append(exp)

In [136]:
print(len(job_title),len(job_location),len(company_name),len(exp_required))

10 10 10 10

In [138]:
data = pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company':company_name,'Experience_Requirede':exp_required})
data

,Job_title,Job_location,Company,Experience_Requirede
0,HCL hiring For Data Analyst,"Pune, Chennai, Bangalore/Bengaluru",HCL Technologies,3-8 Yrs
1,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
2,Programmer / Data Analyst,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Frost & Sullivan,3-7 Yrs
3,Data Analyst - Python/Artificial Intelligence,"Kolkata, Mumbai, Hyderabad/Secunderabad, Luckn...",iMindYourBusiness,0-2 Yrs
4,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-3 Yrs
5,Sr. Data Analyst,"Pune, Bangalore/Bengaluru",Global Indian School Education Services,6-11 Yrs
6,Data Analyst - Decision Science,Bangalore/Bengaluru,Jana Small Finance Bank,3-8 Yrs
7,Immediate opening For Data Analyst @ Bangalore,Bangalore/Bengaluru,TeamLease,4-6 Yrs
8,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
9,Associate Data Analyst,Bangalore/Bengaluru,Optum,1-4 Yrs

# Q.2.

In [147]:
driver = webdriver.Chrome(r"C:\Users\Swati\OneDrive\Desktop\DataScience\chromedriver.exe")

In [148]:
driver.get("https://www.naukri.com/")

In [149]:
# Entering designation and location Banglore as required in question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [150]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bengalore')

In [151]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [152]:
job_title = []
job_location = []
company_name = []
exp_required = []

In [153]:
# Scraping job title from the given page
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags [0:10]:
    title = i.text
    job_title.append(title)
    
# Scraping Job location 
location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags [0:10]:
    location = i.text
    job_location.append(location)
    
# Scraping Company name
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags [0:10]:
    company = i.text
    company_name.append(company)
    
# Scraping Experience
exp_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags [0:10]:
    exp = i.text
    exp_required.append(exp)

In [154]:
print(len(job_title),len(job_location),len(company_name),len(exp_required))

10 10 10 10

In [155]:
data = pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company':company_name,'Experience_Requirede':exp_required})
data

,Job_title,Job_location,Company,Experience_Requirede
0,Job Opportunity on Data Science_ Python with T...,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Tech Mahindra,4-9 Yrs
1,Assistant Manager - Data Science,"Mumbai, Pune, Bangalore/Bengaluru",CitiusTech,5-9 Yrs
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited,4-9 Yrs
4,Data Scientist/AIML Engineer,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",upGrad,0-2 Yrs
5,Data Science Consultant,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru",ZS Associates India Pvt Ltd,3-8 Yrs
6,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
7,Data Scientist,Bangalore/Bengaluru,GlobalLogic,8-9 Yrs
8,Lead ML Scientist,"Mumbai, Bangalore/Bengaluru",Fractal Analytics,6-10 Yrs
9,Tcs Hiring For Data Scientist,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS),3-8 Yrs

# Q.3.

In [3]:
driver = webdriver.Chrome(r"C:\Users\Swati\OneDrive\Desktop\DataScience\chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [6]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
filter_button = driver.find_elements(By.XPATH,'citiesGid')
for i in filter_button:
    if i.text == "Delhi / NCR":
        i.click()
        break
        
filter_button = driver.find_elements(By.ID,'salaryRange')
for i in filter_button:
    if i.text == "3-6 Lakhs":
        i.click()
        break

In [135]:
Title = []
Location = []
Company = []
Exp_Required= []

In [138]:
# Scraping job title from the given page
title = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title:
    Title.append(i.text)
Title[:10] 

# Scraping Job location 
location = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location:
    Location.append(i.text)
Location[:10]   
    
# Scraping Company name
company = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company:
    Company.append(i.text)
Company[:10]
    
# Scraping Experience
exp = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp:
    Exp_Required.append(i.text)
Exp_Required[:10]

['8-10 Yrs',
 '2-5 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '7-10 Yrs',
 '1-6 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '2-7 Yrs',
 '2-5 Yrs']

In [141]:
print(len(Title[:10]),len(Location[:10]),len(Company[:10]),len(Exp_Required[:10]))

10 10 10 10

In [142]:
data = pd.DataFrame({'Title':Title[:10],'Location':Location[:10],'Company':Company[:10],'Exp_Required':Exp_Required[:10]})
data

,Title,Location,Company,Exp_Required
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
3,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
4,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
5,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
6,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
7,Data Scientist,Noida,4i Odc,2-4 Yrs
8,"Data Scientist, Associate",Delhi / NCR,NatWest Group,2-7 Yrs
9,Jr. Data Scientist,Noida,Dataflow,2-5 Yrs

# Q.4.

In [97]:
from selenium import webdriver
from time import sleep

In [98]:
driver = webdriver.Chrome(r"C:\Users\Swati\OneDrive\Desktop\DataScience\chromedriver.exe")

In [99]:
driver.get("https://www.flipkart.com/")

In [100]:
driver.maximize_window()

In [101]:
try :
    driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]').click()
except :
    pass

In [102]:
input_search = driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search_button = driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')

In [103]:
input_search.send_keys("sunglasses")
sleep(1)
search_button.click()

In [113]:
brand = []
product_description = []
price = []
for i in range(3):
    print('scraping_page',i+1)
    brand_name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for p in brand_name:
        brand.append(p.text)
        
    description = driver.find_elements(By.CLASS_NAME,'IRpwTa')
    for p in description:
        product_description.append(p.text)
        
    product_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for p in product_price:
        price.append(p.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    sleep(2)

scraping_page 1
scraping_page 2
scraping_page 3

In [121]:
len(brand)

In [114]:
len(product_description)

120

In [111]:
len(price)

120

In [124]:
brand_100 = brand[:100]
brand_100

['AISLIN',
 'VINCENT CHASE',
 'kingsunglasses',
 'LIZA ANGEL',
 'PIRASO',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'PIRASO',
 'SUNBEE',
 'kingsunglasses',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'ROYAL SON',
 'Fastrack',
 'Ray-Ban',
 'Fastrack',
 'ROYAL SON',
 'kingsunglasses',
 'Silver Kartz',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'ROYAL SON',
 'Rich Club',
 'CRYSTAL CART',
 'ROZZETTA CRAFT',
 'NuVew',
 'Fastrack',
 'Fastrack',
 'Singco India',
 'ROYAL SON',
 'New Specs',
 'ROYAL SON',
 'DEIXELS',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'Singco India',
 'hipe',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'New Specs',
 'PHENOMENAL',
 'PIRASO',
 'LIZA ANGEL',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'Fastrack',
 'Sewell',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'SUNBEE',
 'CRYSTAL CART',
 'Elligator',
 'PIRASO',
 'New Specs',
 'Singco India',
 'PIRASO',
 'Rich Club',
 'ROYAL SON',
 'VINCENT CHASE',
 'SRPM',
 'PIRASO',
 'Lee Topper',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'CRYSTAL CART',
 'New Specs',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'PIRASO',
 'kingsunglasses',
 'EYELLUSION',
 'Fastrack',
 'New Specs',
 'VINCENT CHASE',
 'SRPM',
 'kingsunglasses',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'kingsunglasses',
 'LIZA ANGEL',
 'PIRASO',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'PIRASO',
 'SUNBEE',
 'VINCENT CHASE',
 'Poshh eyewear',
 'kingsunglasses',
 'Fastrack',
 'ROYAL SON',
 'Fastrack',
 'Ray-Ban',
 'ROYAL SON',
 'Fastrack',
 'kingsunglasses']

In [125]:
description_100 = product_description[:100]
description_100

['UV Protection, Gradient Cat-eye Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Rectangular Sunglasses (55)',
 'Riding Glasses, UV Protection, Night Vision Spectacle ...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Rectangular Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Round Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'Polarized Round Sunglasses (48)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (62)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Polarized, UV Protection Round Sunglasses (50)',
 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection Rectangular Sunglasses (52)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (52)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection, Polarized Round Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (55)',
 'Polarized, UV Protection, Gradient, Riding Glasses Rect...',
 'UV Protection Oval Sunglasses (Free Size)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'Polarized, UV Protection Round Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Round Sunglasses (54)',
 'Riding Glasses, Riding Glasses, UV Protection Round Sun...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'by Lenskart UV Protection Aviator Sunglasses (53)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (55)',
 'Riding Glasses, UV Protection, Night Vision Spectacle ...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Night Vision, Riding Glasses Sports, Wra...',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (55)',
 'Polarized, UV Protection Round Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)']

In [126]:
price_100 = price[:100]
price_100

['₹448',
 '₹1,049',
 '₹189',
 '₹189',
 '₹237',
 '₹255',
 '₹449',
 '₹237',
 '₹246',
 '₹213',
 '₹699',
 '₹711',
 '₹899',
 '₹559',
 '₹719',
 '₹3,289',
 '₹759',
 '₹538',
 '₹254',
 '₹288',
 '₹1,049',
 '₹764',
 '₹1,039',
 '₹339',
 '₹209',
 '₹476',
 '₹319',
 '₹307',
 '₹719',
 '₹559',
 '₹607',
 '₹559',
 '₹189',
 '₹424',
 '₹249',
 '₹339',
 '₹314',
 '₹1,099',
 '₹296',
 '₹169',
 '₹1,049',
 '₹999',
 '₹250',
 '₹226',
 '₹237',
 '₹189',
 '₹185',
 '₹538',
 '₹639',
 '₹251',
 '₹699',
 '₹764',
 '₹268',
 '₹172',
 '₹298',
 '₹246',
 '₹296',
 '₹607',
 '₹237',
 '₹299',
 '₹559',
 '₹711',
 '₹197',
 '₹323',
 '₹219',
 '₹339',
 '₹584',
 '₹313',
 '₹196',
 '₹449',
 '₹1,099',
 '₹949',
 '₹237',
 '₹214',
 '₹189',
 '₹799',
 '₹268',
 '₹773',
 '₹228',
 '₹269',
 '₹1,049',
 '₹699',
 '₹189',
 '₹189',
 '₹237',
 '₹255',
 '₹449',
 '₹1,049',
 '₹237',
 '₹246',
 '₹901',
 '₹211',
 '₹213',
 '₹899',
 '₹559',
 '₹719',
 '₹3,289',
 '₹639',
 '₹759',
 '₹254']

In [118]:
import pandas as pd

In [127]:
data = pd.DataFrame({'Brand':brand_100,'Product_description':description_100,'Price':price_100})
data

             Brand                                Product_description   Price
0           AISLIN    UV Protection, Gradient Cat-eye Sunglasses (58)    ₹448
1    VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...  ₹1,049
2   kingsunglasses          UV Protection Rectangular Sunglasses (55)    ₹189
3       LIZA ANGEL  Riding Glasses, UV Protection, Night Vision Sp...    ₹189
4           PIRASO             UV Protection Wayfarer Sunglasses (55)    ₹237
..             ...                                                ...     ...
95        Fastrack        UV Protection Shield Sunglasses (Free Size)    ₹719
96         Ray-Ban         UV Protection Retro Square Sunglasses (55)  ₹3,289
97       ROYAL SON     Polarized, UV Protection Round Sunglasses (52)    ₹639
98        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹759
99  kingsunglasses  Mirrored, UV Protection Wayfarer Sunglasses (F...    ₹254

[100 rows x 3 columns]

# Q.5.

In [27]:
driver = webdriver.Chrome(r"C:\Users\Swati\OneDrive\Desktop\DataScience\chromedriver.exe")

In [28]:
driver.get("https://www.flipkart.com/")

In [29]:
driver.maximize_window()

In [30]:
try :
    driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]').click()
except :
    pass

In [31]:
input_search = driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search_button = driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')

In [32]:
input_search.send_keys("iphone 11")
time.sleep(1)
search_button.click()

In [40]:
product = driver.find_element(By.XPATH,'//div[@class="_4rR01T"]')
product.click()

In [45]:
review = driver.find_elements(By.CLASS_NAME,"row")
for i in review :
    print(i.text)
    
rating = driver.find_elements(By.XPATH,'//div-@class="_3LWZlK _1BLPMq"]')
for i in rating:
    print(i.text)
    
review_summary = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_summary:
    print(i.text)

all_reviews = driver.find_element(By.XPATH,'//div[@class="_3UAT2v _16PBlm"]')
all.reviews.click()

APPLE iPhone 11 (White, 64 GB)
4.695,570 Ratings & 7,021 Reviews
64 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty of 1 Year
₹41,999
₹43,9004% off
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
APPLE iPhone 11 (Black, 64 GB)
4.695,570 Ratings & 7,021 Reviews
64 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty of 1 Year
₹41,999
₹43,9004% off
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
APPLE iPhone 11 (Red, 64 GB)
4.695,570 Ratings & 7,021 Reviews
64 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty of 1 Year
₹41,999
₹43,9004% off
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
APPLE iPhone 11 (Purple, 64 GB)
4.695,570 Ratings & 7,021 Reviews
64 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty of 1 Year
₹41,999
₹43,9004% off
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
APPLE iPhone 11 (White, 128 GB)
4.695,570 Ratings & 7,021 Reviews
128 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty of 1 Year
₹48,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
APPLE iPhone 11 (Purple, 128 GB)
4.695,570 Ratings & 7,021 Reviews
128 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty of 1 Year
₹48,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
APPLE iPhone 11 (Green, 128 GB)
4.695,570 Ratings & 7,021 Reviews
128 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty of 1 Year
₹48,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
APPLE iPhone 11 (Green, 64 GB)
4.695,570 Ratings & 7,021 Reviews
64 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty of 1 Year
₹41,999
₹43,9004% off
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
APPLE iPhone 11 (Black, 128 GB)
4.695,570 Ratings & 7,021 Reviews
128 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty of 1 Year
₹48,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
APPLE iPhone 11 (Red, 128 GB)
4.695,570 Ratings & 7,021 Reviews
128 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty of 1 Year
₹48,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
APPLE iPhone 11 (Yellow, 128 GB)
4.695,570 Ratings & 7,021 Reviews
128 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty of 1 Year
₹48,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
APPLE iPhone 11 (Yellow, 64 GB)
4.695,570 Ratings & 7,021 Reviews
64 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty of 1 Year
₹43,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
APPLE iPhone 6 (Space Grey, 32 GB)
4.41,45,504 Ratings & 16,282 Reviews
32 GB ROM
11.94 cm (4.7 inch) Retina HD Display
8MP Rear Camera | 1.2MP Front Camera
Apple A8 64-bit processor and M8 Motion Co-processor
Brand Warranty of 1 Year
₹30,780
₹31,9003% off
Apple iPhone 11 (Green, 64 GB) (Includes EarPods, Power Adapter)
4.695,570 Ratings & 7,021 Reviews
64 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty for 1 Year
₹49,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
Apple iPhone 11 (White, 128 GB) (Includes EarPods, Power Adapter)
4.695,570 Ratings & 7,021 Reviews
128 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty for 1 Year
₹54,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
Apple iPhone 11 (Yellow, 64 GB) (Includes EarPods, Power Adapter)
4.695,570 Ratings & 7,021 Reviews
64 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty for 1 Year
₹49,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
Apple iPhone 11 (White, 256 GB) (Includes EarPods, Power Adapter)
4.695,570 Ratings & 7,021 Reviews
256 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty for 1 Year
₹64,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
Apple iPhone 11 (Black, 256 GB) (Includes EarPods, Power Adapter)
4.695,570 Ratings & 7,021 Reviews
256 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty for 1 Year
₹64,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
Apple iPhone 11 (Yellow, 256 GB) (Includes EarPods, Power Adapter)
4.695,570 Ratings & 7,021 Reviews
256 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty for 1 Year
₹64,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
Apple iPhone 11 (Yellow, 128 GB) (Includes EarPods, Power Adapter)
4.695,570 Ratings & 7,021 Reviews
128 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty for 1 Year
₹54,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
APPLE iPhone 11 (Red, 256 GB)
4.695,570 Ratings & 7,021 Reviews
256 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty of 1 Year
₹64,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
Apple iPhone 11 (Purple, 128 GB) (Includes EarPods, Power Adapter)
4.695,570 Ratings & 7,021 Reviews
128 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty for 1 Year
₹54,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
Apple iPhone 11 (Red, 256 GB) (Includes EarPods, Power Adapter)
4.695,570 Ratings & 7,021 Reviews
256 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty for 1 Year
₹64,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer
APPLE iPhone 11 (White, 256 GB)
4.695,570 Ratings & 7,021 Reviews
256 GB ROM
15.49 cm (6.1 inch) Liquid Retina HD Display
12MP + 12MP | 12MP Front Camera
A13 Bionic Chip Processor
Brand Warranty of 1 Year
₹64,900
Free delivery
Upto
₹17,000
 Off on Exchange
Bank Offer

ABOUT
Contact Us
About Us
Careers
Flipkart Stories
Press
Flipkart Wholesale
Corporate Information
HELP
Payments
Shipping
Cancellation & Returns
FAQ
Report Infringement
POLICY
Return Policy
Terms Of Use
Security
Privacy
Sitemap
EPR Compliance
SOCIAL
Facebook
Twitter
YouTube
Mail Us:
Flipkart Internet Private Limited,
Buildings Alyssa, Begonia &
Clove Embassy Tech Village,
Outer Ring Road, Devarabeesanahalli Village,
Bengaluru, 560103,
Karnataka, India
Registered Office Address:
Flipkart Internet Private Limited,
Buildings Alyssa, Begonia &
Clove Embassy Tech Village,
Outer Ring Road, Devarabeesanahalli Village,
Bengaluru, 560103,
Karnataka, India
CIN : U51109KA2012PTC066107
Telephone: 044-45614700

InvalidSelectorException: Message: invalid selector: Unable to locate an element with the xpath expression //div-@class="_3LWZlK _1BLPMq"] because of the following error:
SyntaxError: Failed to execute 'evaluate' on 'Document': The string '//div-@class="_3LWZlK _1BLPMq"]' is not a valid XPath expression.
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x0047DF13+2219795]
	Ordinal0 [0x00412841+1779777]
	Ordinal0 [0x0032423D+803389]
	Ordinal0 [0x00326D04+814340]
	Ordinal0 [0x00326BC2+814018]
	Ordinal0 [0x00326E50+814672]
	Ordinal0 [0x00352D4F+994639]
	Ordinal0 [0x003531EB+995819]
	Ordinal0 [0x00380F8C+1183628]
	Ordinal0 [0x0036E844+1108036]
	Ordinal0 [0x0037F192+1175954]
	Ordinal0 [0x0036E616+1107478]
	Ordinal0 [0x00347F89+950153]
	Ordinal0 [0x00348F56+954198]
	GetHandleVerifier [0x00772CB2+3040210]
	GetHandleVerifier [0x00762BB4+2974420]
	GetHandleVerifier [0x00516A0A+565546]
	GetHandleVerifier [0x00515680+560544]
	Ordinal0 [0x00419A5C+1808988]
	Ordinal0 [0x0041E3A8+1827752]
	Ordinal0 [0x0041E495+1827989]
	Ordinal0 [0x004280A4+1867940]
	BaseThreadInitThunk [0x76036739+25]
	RtlGetFullPathName_UEx [0x778F90AF+1215]
	RtlGetFullPathName_UEx [0x778F907D+1165]

In [29]:
Ratings = []
Reviews = []
Review_summary = []

for i in range(20):
    print('scraping_page',i+1)
   
    rating= driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        Ratings.append(i.text)
        
    review = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        Reviews.append(i.text)
    
    review_summary = driver.find_elements(By.XPATH,'//div[@class="row"]')
    for i in review_summary:
        Review_summary.append(i.text)

scraping_page 1
scraping_page 2
scraping_page 3
scraping_page 4
scraping_page 5
scraping_page 6
scraping_page 7
scraping_page 8
scraping_page 9
scraping_page 10
scraping_page 11
scraping_page 12
scraping_page 13
scraping_page 14
scraping_page 15
scraping_page 16
scraping_page 17
scraping_page 18
scraping_page 19
scraping_page 20

In [28]:
len(Reviews)

120

In [ ]:
len(Reviews)

# Q.6

In [2]:
from selenium import webdriver
from time import sleep

In [3]:
driver = webdriver.Chrome(r"C:\Users\Swati\OneDrive\Desktop\DataScience\chromedriver.exe")

C:\Users\Swati\AppData\Local\Temp\ipykernel_10096\1761229029.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\Swati\OneDrive\Desktop\DataScience\chromedriver.exe")

In [49]:
driver.get("https://www.flipkart.com/")

In [50]:
driver.maximize_window()

In [51]:
try :
    driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]').click()
except :
    pass

In [52]:
input_search = driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search_button = driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')

In [53]:
input_search.send_keys("sneakers")
sleep(1)
search_button.click()

In [54]:
brand = []
product_description = []
price = []
percent_off = []

for i in range(3):
    print('scraping_page',i+1)
    brand_name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for p in brand_name:
        brand.append(p.text)
    brand[:100]
        
    description = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for p in description:
        product_description.append(p.text)
    product_description[:100]
        
    product_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for p in product_price:
        price.append(p.text)
    price[:100]
        
    off= driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for p in off:
        percent_off.append(p.text)
    percent_off[:100]

scraping_page 1
scraping_page 2
scraping_page 3

In [59]:
len(brand[:100])

100

In [60]:
len(product_description[:100])

100

In [61]:
len(price[:100])

100

In [62]:
len(percent_off[:100])

100

In [63]:
import pandas as pd

In [65]:
df = pd.DataFrame({'Brand':brand[:100],'Prod_Description':product_description[:100],'Price':price[:100],'Percent_Off':percent_off[:100]})
df

,Brand,Prod_Description,Price,Percent_Off
0,Labbin,Sneakers For Men,₹329,67% off
1,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹498,73% off
2,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹179,70% off
3,Shozie,Sneakers For Men,₹389,61% off
4,aadi,Sneakers For Men,₹279,72% off
...,...,...,...,...
95,SCATCHITE,Sneakers Sneakers For Men,₹360,63% off
96,DUNKASTON,Casual Sneakers For Men,₹299,80% off
97,asian,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",₹419,47% off
98,Kraasa,"Casuals, Canvas, Partywear Sneakers For Men",₹428,57% off
99,Robbie jones,Sneakers For Men,₹394,60% off

# Q.7.

In [3]:
from selenium import webdriver
from time import sleep

In [4]:
driver = webdriver.Chrome(r"C:\Users\Swati\OneDrive\Desktop\DataScience\chromedriver.exe")

In [5]:
driver.get("https://www.myntra.com/shoes")

In [6]:
driver.maximize_window()

In [7]:
colour_filter = driver.find_element(By.XPATH,'//span[@class="colour-label colour-colorDisplay"]')

colour_filter.click()

In [12]:
price_filter = driver.find_element(By.XPATH,'<span class="vertical-filters-header">Price</span>')
price_filter.click()

InvalidSelectorException: Message: invalid selector: Unable to locate an element with the xpath expression <span class="vertical-filters-header">Price</span> because of the following error:
SyntaxError: Failed to execute 'evaluate' on 'Document': The string '<span class="vertical-filters-header">Price</span>' is not a valid XPath expression.
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x0062DF13+2219795]
	Ordinal0 [0x005C2841+1779777]
	Ordinal0 [0x004D423D+803389]
	Ordinal0 [0x004D6D04+814340]
	Ordinal0 [0x004D6BC2+814018]
	Ordinal0 [0x004D6E50+814672]
	Ordinal0 [0x00502D4F+994639]
	Ordinal0 [0x005031EB+995819]
	Ordinal0 [0x00530F52+1183570]
	Ordinal0 [0x0051E844+1108036]
	Ordinal0 [0x0052F192+1175954]
	Ordinal0 [0x0051E616+1107478]
	Ordinal0 [0x004F7F89+950153]
	Ordinal0 [0x004F8F56+954198]
	GetHandleVerifier [0x00922CB2+3040210]
	GetHandleVerifier [0x00912BB4+2974420]
	GetHandleVerifier [0x006C6A0A+565546]
	GetHandleVerifier [0x006C5680+560544]
	Ordinal0 [0x005C9A5C+1808988]
	Ordinal0 [0x005CE3A8+1827752]
	Ordinal0 [0x005CE495+1827989]
	Ordinal0 [0x005D80A4+1867940]
	BaseThreadInitThunk [0x76036739+25]
	RtlGetFullPathName_UEx [0x778F90AF+1215]
	RtlGetFullPathName_UEx [0x778F907D+1165]

In [82]:
Brand = []
Description = []
Price = []

In [85]:
for i in range(2):
    brand = driver.find_elements(By.XPATH,'//h3[@class ="product-brand"]')
    for j in brand:
        Brand.append(j.text)
    Brand[:100]
    
    description = driver.find_elements(By.XPATH,'//h4[@class ="product-product"]')
    for j in description:
        Description.append(j.text)
    Description[:100]
    
    price = driver.find_elements(By.XPATH,'//div[@class ="product-price"]')
    for j in price:
        Price.append(j.text)
    Price[:100]

In [86]:
print(len(Brand[:100]),len(Description[:100]),len(Price[:100]))

100 100 100

In [87]:
import pandas as pd

In [88]:
df = pd.DataFrame({'Brand':Brand[:100],'Description':Description[:100],'Price':Price[:100]})
df

,Brand,Description,Price
0,ADIDAS Originals,Men Niteball II Sneakers,Rs. 9349
1,Nike,Men ZOOM WINFLO8 Running Shoes,Rs. 7880
2,Nike,Men React Infinity 3 Running,Rs. 13295
3,Tommy Hilfiger,Men Solid Sneakers,Rs. 10799
4,Puma,Eternity Nitro Running Shoes,Rs. 7999
...,...,...,...
95,PUMA Hoops,Fives Blaze Court Basketball,Rs. 9099Rs. 12999(30% OFF)
96,Skechers,Men Sky Vault Walking Shoes,Rs. 8999
97,ADIDAS Originals,Men Woven Nmd_R1 Sneakers,Rs. 7199Rs. 8999(20% OFF)
98,Bugatti,Men Walking Shoes,Rs. 8999
99,Tommy Hilfiger,Women Leather Sneakers,Rs. 7560Rs. 8895(15% OFF)

# Q.8.

In [89]:
from selenium import webdriver
from time import sleep

In [90]:
driver = webdriver.Chrome(r"C:\Users\Swati\OneDrive\Desktop\DataScience\chromedriver.exe")

In [91]:
driver.get("https://www.amazon.in/")
driver.maximize_window()

In [92]:
input_search = driver.find_element(By.XPATH,'//input[@class="nav-input nav-progressive-attribute"]')
search_button = driver.find_element(By.XPATH,'//div[@class="nav-search-submit nav-sprite"]')

In [93]:
input_search.send_keys("Laptop")
time.sleep(1)
search_button.click()

In [100]:
filter_button = driver.find_elements(By.XPATH,'//span[@class="a-size-base a-color-base puis-bold-weight-text"]')
for i in filter_button:
    if i.text == "Intel Core i7":
        i.click()
    break

In [101]:
Title = []
Rating = []
Price = []

In [107]:
title = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for j in title:
    Title.append(j.text)
Title[:10]
    
rating = driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-popover"]')
for j in rating:
    Rating.append(j.text)
Rating[:10]
    
price = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for j in price:
    Price.append(j.text)
Price[:10]

['82,990',
 '80,990',
 '1,06,999',
 '79,990',
 '1,07,990',
 '94,990',
 '1,60,999',
 '1,09,990',
 '94,990',
 '82,990']

In [108]:
print(len(Title[:10]),len(Rating[:10]),len(Price[:10]))

10 10 10

In [109]:
import pandas as pd
df = pd.DataFrame({'Title':Title[:10],'Rating':Rating[:10],'Price':Price[:10]})
df

                                               Title Rating     Price
0  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...           82,990
1  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....           80,990
2  Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...         1,06,999
3  ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...           79,990
4  ASUS TUF Gaming F15 (2022), 15.6" (39.62 cms) ...         1,07,990
5  ASUS Vivobook S15 OLED (2022), 15.6" (39.62 cm...           94,990
6  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...         1,60,999
7  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...         1,09,990
8  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...           94,990
9  ASUS VivoBook K15 OLED (2021), 15.6-inch FHD O...           82,990

# Q.9.

In [143]:
from selenium import webdriver
from time import sleep

In [144]:
import warnings
warnings.filterwarnings('ignore')

In [145]:
driver = webdriver.Chrome(r"C:\Users\Swati\OneDrive\Desktop\DataScience\chromedriver.exe")

In [146]:
driver.get("https://www.ambitionbox.com/")

In [147]:
driver.maximize_window()

In [148]:
job = driver.find_element(By.CLASS_NAME,"navItemLink")
job.click()

In [149]:
input_search = driver.find_element(By.XPATH,'//input[@class="input tt-input"]')
search_button = driver.find_element(By.XPATH,'//button[@class="ab_btn search-btn round"]')

In [173]:
input_search.send_keys("Data Scientist")
time.sleep(1)
search_button.click()

In [176]:
filter_loc = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p').click()

In [181]:
search_location = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/h1')

In [183]:
Company = []
Ad_Days = []
Company_Rating = []

In [184]:
company = driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in company:
    Company.append(i.text)
Company[:10]

ad_days = driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in ad_days:
    Ad_Days.append(i.text)
Ad_Days[:10]    

company_rating = driver.find_elements(By.XPATH,'//span[@class="body-small"]')
for i in company_rating:
    Company_Rating.append(i.text)
Company_Rating[:10]

['4.1', '4.3', '3.8', '4.0', '4.3', '4.0', '4.0', '4.3', '4.3', '3.8']

In [185]:
print(len(Company[:10]),len(Ad_Days[:10]),len(Company_Rating[:10]))

10 10 10

In [186]:
import pandas as pd

In [187]:
df = pd.DataFrame({'Company':Company[:10],'Ad_Days':Ad_Days[:10],'Company_Rating':Company_Rating[:10]})
df

,Company,Ad_Days,Company_Rating
0,Optum Global Solutions (India) Private Limited,5d ago,4.1
1,BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED,via naukri.com,4.3
2,EY GDS,3d ago,3.8
3,GLOBALLOGIC INDIA PRIVATE LIMITED,via naukri.com,4.0
4,CBRE South Asia Pvt Ltd,5d ago,4.3
5,GENPACT India Private Limited,via iimjobs.com,4.0
6,Genpact,3d ago,4.0
7,Ericsson India Global Services Pvt. Ltd.,via naukri.com,4.3
8,Dew Solutions Pvt. Ltd.,1mon ago,4.3
9,One97 Communications Limited,via naukri.com,3.8

# Q.10

In [208]:
from selenium import webdriver
from time import sleep

In [8]:
driver = webdriver.Chrome(r"C:\Users\Swati\OneDrive\Desktop\DataScience\chromedriver.exe")

In [9]:
driver.get("https://www.ambitionbox.com/")

In [10]:
driver.maximize_window()

In [11]:
salary = driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/span')
salary.click()

In [12]:
salary_discover = driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[2]/a').click()

In [13]:
designation= driver.find_element(By.XPATH,'//input[@class="tt-input"]')

In [14]:
designation.send_keys("Data Scientist")

In [15]:
job_role = driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')

In [16]:
Company = []
Salary_Record = []
Avg_Salary = []
Min_Salary = []
Max_Sal = []
Exp_Required = []

In [19]:
company = driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in company:
    Company.append(i.text)
Company[:10]

salary_record = driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in salary_record:
    Salary_Record.append(i.text)
Salary_Record[:10]

avg_salary = driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_salary:
    Avg_Salary.append(i.text)
Avg_Salary[:10]

min_Salary = driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in min_Salary:
    Min_Salary.append(i.text)
Min_Salary[:10]

max_Sal = driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in max_Sal:
    Max_Sal.append(i.text)
Max_Sal[:10]

['₹ 12.7L',
 '₹ 97.0L',
 '₹ 13.2L',
 '₹ 50.0L',
 '₹ 12.0L',
 '₹ 34.0L',
 '₹ 5.0L',
 '₹ 38.0L',
 '₹ 11.7L',
 '₹ 38.0L']

In [278]:
print(len(Company[:10]),len(Salary_Record[:10]),len(Avg_Salary[:10]),len(Min_Salary[:10]),len(Max_Sal[:10]))

10 10 10 10 10

In [279]:
import pandas as pd

In [18]:
df = pd.DataFrame({'Company':Company[:10],'Salary_Record':Salary_Record[:10],'Avg_Salary':Avg_Salary[:10],'Min_Salary':Min_Salary[:10],'Max_Sal':Max_Sal[:10]})
df

,Company,Salary_Record,Avg_Salary,Min_Salary,Max_Sal
0,Google\nSoftware Engineer Salary\n1-4 yrs expe...,(based on 58 salaries),₹ 35.5L,₹ 12.7L,₹ 12.7L
1,Microsoft Corporation\nSoftware Engineer Salar...,(based on 338 salaries),₹ 23.8L,₹ 97.0L,₹ 97.0L
2,Goldman Sachs\nSoftware Engineer Salary\n1-2 y...,(based on 36 salaries),₹ 22.9L,₹ 13.2L,₹ 13.2L
3,Arista Networks\nSoftware Engineer Salary\n1-4...,(based on 51 salaries),₹ 22.3L,₹ 50.0L,₹ 50.0L
4,Tekion\nSoftware Engineer Salary\n2-4 yrs expe...,(based on 50 salaries),₹ 21.9L,₹ 12.0L,₹ 12.0L
5,Amazon\nSoftware Engineer Salary\n1-4 yrs expe...,(based on 140 salaries),₹ 21.2L,₹ 34.0L,₹ 34.0L
6,Servicenow Software Development India\nSoftwar...,(based on 79 salaries),₹ 21.1L,₹ 5.0L,₹ 5.0L
7,Walmart\nSoftware Engineer Salary\n1-4 yrs exp...,(based on 110 salaries),₹ 20.2L,₹ 38.0L,₹ 38.0L
8,PayPal\nSoftware Engineer Salary\n1-2 yrs expe...,(based on 29 salaries),₹ 19.6L,₹ 11.7L,₹ 11.7L
9,Arcesium\nSoftware Engineer Salary\n1-2 yrs ex...,(based on 69 salaries),₹ 19.5L,₹ 38.0L,₹ 38.0L